{% extends 'base.html' %}

{% block title %}
Bets 1337BET
{% endblock %}

{% block body %}
<link href="../static/bets.css" rel="stylesheet" type="text/css">
<div class="container" style="width: 60%;">
    <h2>Events</h2>
    {% for n in table_list %}
    <hr>
    <table class="table table-dark">
        <thead>
            <tr>
                <th style="width: 70%; background: rgb(161, 161, 161);">{{my_string}} {{n}}</th>
                <th style="width: 50%; background: rgb(161, 161, 161);"></th>
            </tr>
        </thead>
        <tbody style="background: rgb(255, 255, 255); color:#000000;">
            {% for n in team_list %}
            <tr>
                <td style="width:fit-content">
                    <form method="POST" action="#" role="form" style="display: inline;">
                        <div id="betln">Bet coeff: {{coef_list[0]}}  
                            <input type="radio" name="rad" style="display: inline;" value="bet">
                        </div>
                    <img style="display: inline; width: 10%; height: auto;" src="../static/images/blog-element-1-94x94.jpg">
                    <div style="display: inline;"> Team {{n}} VS Team {{n+1}} </div>
                    <img style="display: inline; width: 10%; height: auto;" src="../static/images/blog-element-2-94x94.jpg">
                        <div id="betln">Bet coeff: {{coef_list[1]}} 
                            <input type="radio" name="rad" style="display: inline;" value="bet">
                        </div>
                    </form>
                </td>
                <td style = "text-align: right; width:10%;">
                    <input style="width:20%;" type="number" value=1>
                    <input type="button" name="rad" style="display: inline;" value="bet">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Закрыть" class="close">X</a>
        <h1>Your bet is placed</h1>
    </div>
</div>

{% endblock %}