{% extends 'base.html' %}

{% block title %}
ИНДЕКС ХТМАЛ
{% endblock %}

{% block body %}
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>
  
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <hgroup>
              <h1>In sport we trust</h1>        
              <h3>We are trusted</h3>
          </hgroup>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">        
          <hgroup>
              <h1>Best bets %</h1>        
              <h3>Get your win any time</h3>
          </hgroup>       
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">        
          <hgroup>
              <h1>We are certified</h1>        
              <h3>See the "About"</h3>
          </hgroup>
        </div>
      </div>
    </div> 
  </div>





<ul id="navbar">
    <li id="list"><a>Football</a></li>
</ul>
  <ul id="navbar">
    <li id="list"><a>Match1</a></li>
    <li id="list" style="float:right"><a>Team1 with logo</a></li>
    <li id="list" style="float:right"><a>VS</a></li>
    <li id="list" style="float:right"><a>Team2 with logo</a></li>
    <li id="list" style="float:right"><a>1:1</a></li>
</ul>
<ul id="navbar">
    <li id="list"><a>Match1</a></li>
    <li id="list" style="float:right"><a>Team1 with logo</a></li>
    <li id="list" style="float:right"><a>VS</a></li>
    <li id="list" style="float:right"><a>Team2 with logo</a></li>
    <li id="list" style="float:right"><a>1:1</a></li>
</ul>
<ul id="navbar">
    <li id="list"><a>Match1</a></li>
    <li id="list" style="float:right"><a>Team1 with logo</a></li>
    <li id="list" style="float:right"><a>VS</a></li>
    <li id="list" style="float:right"><a>Team2 with logo</a></li>
    <li id="list" style="float:right"><a>1:1</a></li>
</ul>

<ul id="navbar">
    <li id="list"><a>Hockey</a></li>
</ul>
  <ul id="navbar">
    <li id="list"><a>Match1</a></li>
    <li id="list" style="float:right"><a>Team1 with logo</a></li>
    <li id="list" style="float:right"><a>VS</a></li>
    <li id="list" style="float:right"><a>Team2 with logo</a></li>
    <li id="list" style="float:right"><a>1:1</a></li>
</ul>
<ul id="navbar">
    <li id="list"><a>Match1</a></li>
    <li id="list" style="float:right"><a>Team1 with logo</a></li>
    <li id="list" style="float:right"><a>VS</a></li>
    <li id="list" style="float:right"><a>Team2 with logo</a></li>
    <li id="list" style="float:right"><a>1:1</a></li>
</ul>
<ul id="navbar">
    <li id="list"><a>Match1</a></li>
    <li id="list" style="float:right"><a>Team1 with logo</a></li>
    <li id="list" style="float:right"><a>VS</a></li>
    <li id="list" style="float:right"><a>Team2 with logo</a></li>
    <li id="list" style="float:right"><a>1:1</a></li>
</ul>

<ul id="navbar">
    <li id="list"><a>Volleyball</a></li>
</ul>
  <ul id="navbar">
    <li id="list"><a>Match1</a></li>
    <li id="list" style="float:right"><a>Team1 with logo</a></li>
    <li id="list" style="float:right"><a>VS</a></li>
    <li id="list" style="float:right"><a>Team2 with logo</a></li>
    <li id="list" style="float:right"><a>1:1</a></li>
</ul>
<ul id="navbar">
    <li id="list"><a>Match1</a></li>
    <li id="list" style="float:right"><a>Team1 with logo</a></li>
    <li id="list" style="float:right"><a>VS</a></li>
    <li id="list" style="float:right"><a>Team2 with logo</a></li>
    <li id="list" style="float:right"><a>1:1</a></li>
</ul>
<ul id="navbar">
    <li id="list"><a>Match1</a></li>
    <li id="list" style="float:right"><a>Team1 with logo</a></li>
    <li id="list" style="float:right"><a>VS</a></li>
    <li id="list" style="float:right"><a>Team2 with logo</a></li>
    <li id="list" style="float:right"><a>1:1</a></li>
</ul>
{% endblock %}