<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1337BET</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="../static/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <ul id="navbar">
        <li id="list"><a id ="nv" class="active" href="#">1337BET</a></li>
        <li id="list"><a href="#">Bets</a></li>
        <li id="list"><a href="#">Teams</a></li>
        <li id="list"><a href="#">Results</a></li>
        <li id="list"><a href="#">Contact</a></li>
        <li id="list"><a href="#">About</a></li>
        <li id="list" style="float:right"><a href="#">Register</a></li>
        <li id="list" style="float:right"><a id="nv" class ="active" href="#">Login</a></li>
    </ul>



    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>
      
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#bs-carousel" data-slide-to="1"></li>
          <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
              <hgroup>
                  <h1>In sport we trust</h1>        
                  <h3>We are trusted</h3>
              </hgroup>
            </div>
          </div>
          <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">        
              <hgroup>
                  <h1>Best bets %</h1>        
                  <h3>Get your win any time</h3>
              </hgroup>       
            </div>
          </div>
          <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">        
              <hgroup>
                  <h1>We are certified</h1>        
                  <h3>See the "About"</h3>
              </hgroup>
            </div>
          </div>
        </div> 
      </div>





    <ul id="navbar">
        <li id="list"><a>Football</a></li>
    </ul>
      <ul id="navbar">
        <li id="list"><a>Match1</a></li>
        <li id="list" style="float:right"><a>Team1 with logo</a></li>
        <li id="list" style="float:right"><a>VS</a></li>
        <li id="list" style="float:right"><a>Team2 with logo</a></li>
        <li id="list" style="float:right"><a>1:1</a></li>
    </ul>
    <ul id="navbar">
        <li id="list"><a>Match1</a></li>
        <li id="list" style="float:right"><a>Team1 with logo</a></li>
        <li id="list" style="float:right"><a>VS</a></li>
        <li id="list" style="float:right"><a>Team2 with logo</a></li>
        <li id="list" style="float:right"><a>1:1</a></li>
    </ul>
    <ul id="navbar">
        <li id="list"><a>Match1</a></li>
        <li id="list" style="float:right"><a>Team1 with logo</a></li>
        <li id="list" style="float:right"><a>VS</a></li>
        <li id="list" style="float:right"><a>Team2 with logo</a></li>
        <li id="list" style="float:right"><a>1:1</a></li>
    </ul>

    <ul id="navbar">
        <li id="list"><a>Hockey</a></li>
    </ul>
      <ul id="navbar">
        <li id="list"><a>Match1</a></li>
        <li id="list" style="float:right"><a>Team1 with logo</a></li>
        <li id="list" style="float:right"><a>VS</a></li>
        <li id="list" style="float:right"><a>Team2 with logo</a></li>
        <li id="list" style="float:right"><a>1:1</a></li>
    </ul>
    <ul id="navbar">
        <li id="list"><a>Match1</a></li>
        <li id="list" style="float:right"><a>Team1 with logo</a></li>
        <li id="list" style="float:right"><a>VS</a></li>
        <li id="list" style="float:right"><a>Team2 with logo</a></li>
        <li id="list" style="float:right"><a>1:1</a></li>
    </ul>
    <ul id="navbar">
        <li id="list"><a>Match1</a></li>
        <li id="list" style="float:right"><a>Team1 with logo</a></li>
        <li id="list" style="float:right"><a>VS</a></li>
        <li id="list" style="float:right"><a>Team2 with logo</a></li>
        <li id="list" style="float:right"><a>1:1</a></li>
    </ul>

    <ul id="navbar">
        <li id="list"><a>Volleyball</a></li>
    </ul>
      <ul id="navbar">
        <li id="list"><a>Match1</a></li>
        <li id="list" style="float:right"><a>Team1 with logo</a></li>
        <li id="list" style="float:right"><a>VS</a></li>
        <li id="list" style="float:right"><a>Team2 with logo</a></li>
        <li id="list" style="float:right"><a>1:1</a></li>
    </ul>
    <ul id="navbar">
        <li id="list"><a>Match1</a></li>
        <li id="list" style="float:right"><a>Team1 with logo</a></li>
        <li id="list" style="float:right"><a>VS</a></li>
        <li id="list" style="float:right"><a>Team2 with logo</a></li>
        <li id="list" style="float:right"><a>1:1</a></li>
    </ul>
    <ul id="navbar">
        <li id="list"><a>Match1</a></li>
        <li id="list" style="float:right"><a>Team1 with logo</a></li>
        <li id="list" style="float:right"><a>VS</a></li>
        <li id="list" style="float:right"><a>Team2 with logo</a></li>
        <li id="list" style="float:right"><a>1:1</a></li>
    </ul>










    <footer>
        <div class="container">
          <div class="row">
            
            <div class="col-lg-4 col-md-6">
              <h3>Navigation</h3>
              <ul class="list-unstyled three-column">
                <li>Home</li>
                <li>Profile</li>
                <li>About</li>
                <li>Bets</li>
                <li>Teams</li>
                <li>Results</li>
                <li>Contact</li>
              </ul>
              <ul class="list-unstyled socila-list">
                <li><img src="http://placehold.it/48x48" alt="" /></li>
                <li><img src="http://placehold.it/48x48" alt="" /></li>
                <li><img src="http://placehold.it/48x48" alt="" /></li>
                <li><img src="http://placehold.it/48x48" alt="" /></li>
                <li><img src="http://placehold.it/48x48" alt="" /></li>
                <li><img src="http://placehold.it/48x48" alt="" /></li>
              </ul>
            </div>
            
            <div class="col-lg-4 col-md-6">
              <h3>Popular Articles</h3>
              <div class="media">
                <a href="#" class="pull-left">
                  <img src="http://placehold.it/64x64" alt="" class="media-object" />
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Jamaika chess team</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
              
              <div class="media">
                <a href="#" class="pull-left">
                  <img src="http://placehold.it/64x64" alt="" class="media-object" />
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Leonel Messi</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
              
              <div class="media">
                <a href="#" class="pull-left">
                  <img src="http://placehold.it/64x64" alt="" class="media-object" />
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Strategies</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
              
            </div>
            
            <div class="col-lg-4">
              <h3>Latest News</h3>
              <div class="media">
                <a href="#" class="pull-left">
                  <img src="http://placehold.it/64x64" alt="" class="media-object" />
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Kickboxer messed up!</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
              
              <div class="media">
                <a href="#" class="pull-left">
                  <img src="http://placehold.it/64x64" alt="" class="media-object" />
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Taimou wrecks OW league</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
              
              <div class="media">
                <a href="#" class="pull-left">
                  <img src="http://placehold.it/64x64" alt="" class="media-object" />
                </a>
                <div class="media-body">
                  <h4 class="media-heading">IDDQD still in game?!</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="copyright text-center">
          Copyright &copy; 2020 <span>1337BET</span>
        </div>
      </footer>

</body>
</html>